<html>   
  <head>   
    <title>Kepler HeatMap</title>  
    <style>
      iframe{
        height: 50%;
        width: 100%;
      }
    </style> 
  </head>   
  <body>   
    <h1 style="background:lightblue;padding:10px">
            Alberta Wildfires
    </h1>
    <div class="kepler-frame" id="kepler-frame">
      <iframe src="{{ url_for('empty_map') }}" frameborder="0"></iframe>
    </div>
    <div class="chart1" id="chart1">
      <iframe src="{{ url_for('chart1') }}" frameborder="0"></iframe>
    </div>
        <div class="chart2" id="chart2">
      <iframe src="{{ url_for('chart2') }}" frameborder="0"></iframe>
    </div>
    </div>
        <div class="chart3" id="chart3">
      <iframe src="{{ url_for('chart3') }}" frameborder="0"></iframe>
    </div>
    </div>
        <div class="chart4" id="chart4">
      <iframe src="{{ url_for('chart4') }}" frameborder="0"></iframe>
    </div>
    </div>
        <div class="chart5" id="chart5">
      <iframe src="{{ url_for('chart5') }}" frameborder="0"></iframe>
    </div>

</html>