<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Random Videos</title>
</head>
<body>
    <form action="/select_video" method="post">
        <table>
            <tr>
                <th>Video Name</th>
                <th>Thumbnail</th>
            </tr>
            {% for video in videos %}
            <tr>
                <td>{{ video }}</td>
                <td><img src="{{ images }}" alt="Image"></td>
            </tr>
            {% endfor %}
            <tr>
                <td>Inference</td>
                <td>{{ detection }}</td>
            </tr>				
        </table>
        <input type="submit" value="Inference">
    </form>

<br>
<a href="{{ url_for('Youtube_form') }}"> Detect violence from a YouTube video</a>
<br>
<a href="{{ url_for('tasks') }}"> Detect violence from WebCam Streaming</a>
<br>
<a href="{{ url_for('tasks_rtsp') }}"> Detect violence from RTSP Streaming</a>
</body>
</html>